<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mevoot application</title>
  <div th:replace = "~{headers/bootstrap :: boot}"></div>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<br>
<h3 class="text-center">ברוחים הבאים</h3>
<br>
<form action="#" th:action="@{/perform-login}" th:method="post">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4 text-center">
        <label class="form-label" for="inputUsername"><b>שם משתמש</b></label>
        <div class="input-group">
          <input type="text" name="username" id="inputUsername" class="form-control" placeholder="תכניסו שם משתמש">
        </div>
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="col-4 text-center">
        <label class="form-label" for="inputPassword"><b>סיסמה</b></label>
        <div class="input-group">
          <input type="password" name="password" id="inputPassword" class="form-control"
                 placeholder="תכניסו סיסמה">
        </div>
      </div>
    </div>
    <br>
    <div class="row justify-content-center" th:if="${param.error}">
      <div class="alert alert-danger" role="alert">
        <div class="text-danger" for="inputPassword">שם משתמש או סיסמא שגוי</div>
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="col-4 text-center">
        <input type="submit" value="Log in" class="btn btn-primary btn-lg">
      </div>
    </div>
  </div>
</form>
<br>
<form action="#" th:action="@{/register}" method="get">
  <div class="row justify-content-center">
    <div class="col-4 text-center">
      <input type="submit" class="btn btn-primary btn-lg" value="Sign in"/>
    </div>
  </div>
</form>

</body>
</html>