<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="~{headers/bootstrap :: boot}"></div>
</head>
<body>
<div class="container">
    <h3 class="text-center">Регистрация</h3>

    <form th:action="@{/register}" th:object="${user}" method="post">
        <div class="row justify-content-center">
            <div class="col-4 text-center">
                <label class="form-label" for="inputEmail"><b>Почта</b></label>
                <div class="input-group">
                    <input type="text" th:field="*{email}" id="inputEmail" class="form-control"
                           placeholder="Введите адрес почты">
                </div>
                <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-4 text-center">
                <label class="form-label" for="inputUsername"><b>Имя пользователя</b></label>
                <div class="input-group">
                    <input type="text" th:field="*{username}" id="inputUsername" class="form-control"
                           placeholder="Введите имя пользователя">
                </div>
                <span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-4 text-center">
                <label class="form-label" for="inputPassword"><b>Пароль</b></label>
                <div class="input-group">
                    <input type="password" th:field="*{password}" id="inputPassword" class="form-control"
                           placeholder="Введите пароль">
                </div>
                <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 text-center">
                <label class="form-label" for="inputFirstName"><b>First Name</b></label>
                <div class="input-group">
                    <input type="text" th:field="*{firstName}" id="inputFirstName" class="form-control"
                           placeholder="Введите Name">
                </div>
                <span class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
            </div>
        </div> <div class="row justify-content-center">
        <div class="col-4 text-center">
            <label class="form-label" for="inputLastName"><b>Last Name</b></label>
            <div class="input-group">
                <input type="text" th:field="*{lastName}" id="inputLastName" class="form-control"
                       placeholder="Введите Last Name">
            </div>
            <span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
        </div>
    </div>
        <div class="row justify-content-center">
            <div class="col-4 text-center">
                <label class="form-label" for="inputPhoneNumber"><b>Номер телефона</b></label>
                <div class="input-group">
                    <input type="text" th:field="*{phoneNumber}" id="inputPhoneNumber" class="form-control"
                           placeholder="Введите номер телефона">
                </div>
                <span class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-4 text-center">
                <label class="form-label" for="inputPersonalId"><b>Персональный идентификатор</b></label>
                <div class="input-group">
                    <input type="text" th:field="*{personalId}" id="inputPersonalId" class="form-control"
                           placeholder="Введите персональный идентификатор">
                </div>
                <span class="text-danger" th:if="${#fields.hasErrors('personalId')}" th:errors="*{personalId}"></span>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-4 text-center">
                <input type="submit" value="Создать" class="btn btn-primary">
            </div>
        </div>
    </form>

    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <!-- Обработка ошибки входа -->
            <span class="text-danger" th:if="${param.error}">Неверное имя пользователя или пароль</span>
        </div>
    </div>

    <form action="#" th:action="@{/login}" method="get">
        <div class="row justify-content-center">
            <div class="col-4 text-center">
                <input type="submit" value="Назад" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>