<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mevoot application</title>
    <div th:replace="~{headers/bootstrap :: boot}"></div>
</head>
<body>
<div class="container">
    <h3 class="text-center">הרשמה</h3>

    <form th:action="@{/register}" th:object="${user}" method="post">

        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label" for="inputUsername"><b>שם משתמש</b></label>
                        <div class="input-group">
                            <input type="text" th:field="*{username}" id="inputUsername" class="form-control"
                                   placeholder="תכניסו שם משתמש">
                        </div>
                        <span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="inputPassword"><b>סיסמה</b></label>
                        <div class="input-group">
                            <input type="password" th:field="*{password}" id="inputPassword" class="form-control"
                                   placeholder="תכניסו סיסמה">
                        </div>
                        <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label" for="inputFirstName"><b>שם</b></label>
                        <div class="input-group">
                            <input type="text" th:field="*{firstName}" id="inputFirstName" class="form-control"
                                   placeholder="תכניסו שם">
                        </div>
                        <span class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="inputLastName"><b>שם משפחה</b></label>
                        <div class="input-group">
                            <input type="text" th:field="*{lastName}" id="inputLastName" class="form-control"
                                   placeholder="תכניסו שם משפחה">
                        </div>
                        <span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label" for="inputPhoneNumber"><b>מספר טלפון</b></label>
                        <div class="input-group">
                            <input type="text" th:field="*{phoneNumber}" id="inputPhoneNumber" class="form-control"
                                   placeholder="תכניסו מספר טלפון">
                        </div>
                        <span class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="inputPersonalId"><b>ת.ז.</b></label>
                        <div class="input-group">
                            <input type="text" th:field="*{personalId}" id="inputPersonalId" class="form-control"
                                   placeholder="תכניסו ת.ז.">
                        </div>
                        <span class="text-danger" th:if="${#fields.hasErrors('personalId')}" th:errors="*{personalId}"></span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <label class="form-label" for="inputEmail"><b>דואר אלקטרוני</b></label>
                        <div class="input-group">
                            <input type="text" th:field="*{email}" id="inputEmail" class="form-control"
                                   placeholder="תכניסו E-mail">
                        </div>
                        <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-6 text-center">
                        <input style="margin: 10px 10px 10px 10px" type="submit" value="Save" class="btn btn-primary">
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <!-- Обработка ошибки входа -->
            <span class="text-danger" th:if="${param.error}">שם משתמש או סיסמא שגוי</span>
        </div>
    </div>

    <form action="#" th:action="@{/login}" method="get">
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <input type="submit" value="Назад" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>
