<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace = "~{headers/bootstrap :: boot}"></div>
</head>
<body>
<div class="container">
    <div th:replace = "~{headers/header :: head}"></div>
    <h2 th:text="${groupName}"> orders</h2>
    <table>
    <tr th:each="order : ${group_orders}">
        <td th:text="${order.creationDate}"></td>
        <td>
            <div>
                <a style="margin-left: 35px; margin-bottom: 3px" class="btn btn-primary" th:href="${'/orders/' + order.id}">To order</a>
                <th:block th:if="${!order.getSent()}">
                    <a style="margin-left: 2px" class="btn btn-warning" th:href="${'/orders/' + order.id + '/edit'}">Edit</a>
                </th:block>
                <th:block th:unless="${!order.getSent()}">
                    <p style="margin-top: 13px" class="btn btn-info">Заказ отправлен</p>
                </th:block>
                <a style="margin-left: 2px; margin-bottom: 3px" class="btn btn-danger" th:href="${'/orders/' + order.id + '/delete'}">Delete</a>

            </div>
        </td>
    </tr>
    </table>
    <a style="margin: 20px 2px 20px 0" class="btn btn-success" th:href="${'/orders/new_order'}">Create New Order</a>
    <a style="margin: 20px 20px 20px 0" class="btn btn-secondary" href="/orders">Back</a>
</div>
</body>
</html>