<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navigation</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="${'/products'}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="${'/orders'}">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="${'/groups'}">Groups</a>
                </li>
            </ul>
        </div>
    </nav>
    <h2 th:text="${groupName}"> orders</h2>
    <table>
    <tr th:each="order : ${group_orders}">
        <td th:text="${order.creationDate}"></td>
        <td>
            <div>
                <a style="margin-left: 50px" class="btn btn-primary" th:href="${'/orders/' + order.id}">To order</a>
            </div>
        </td>
    </tr>
    </table>
    <a style="margin-top: 20px" class="btn btn-success" th:href="${'/orders/new_order'}">Create New Order</a>
</div>
</body>
</html>