<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Mevoot application</title>
    <div th:replace = "~{headers/bootstrap :: boot}"></div>
    </head>
<body>
<div class="container">
    <div th:replace = "~{headers/header :: head}"></div>
    <h1 class="mt-4">Group List</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>שם קבוצה</th>
            <th>פעולות</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="group : ${groups}">
            <td th:text="${group.name}"></td>
            <td>
                <div>
                    <a class="btn btn-primary" th:href="${'/groups/' + group.id}">לקבוצה</a>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-danger" th:href="${'/groups/' + group.id + '/delete'}">למחוק</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-success" th:href="${'/groups/new_group'}">קבוצה חדשה</a>
</div>
</body>
</html>
