<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace = "~{headers/bootstrap :: boot}"></div>
    </head>
<body>
<div class="container">
    <div th:replace = "~{headers/header :: head}"></div>
    <h1 class="mt-4">Group List</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Group name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="group : ${groups}">
            <td th:text="${group.name}"></td>
            <td>
                <div>
                    <a class="btn btn-primary" th:href="${'/groups/' + group.id}">To Group</a>
                    <a class="btn btn-danger" th:href="${'/groups/' + group.id + '/delete'}">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-success" th:href="${'/groups/new_group'}">Create New Group</a>
</div>
</body>
</html>
