<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace = "~{headers/bootstrap :: boot}"></div>

</head>
<body>
<div class="container">

    <div th:replace = "~{headers/header :: head}"></div>
    <h1 class="mt-4">User List</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Users</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.firstName} + ' ' + ${user.lastName}"></td>
            <td>
               <div>
                   <a class="btn btn-primary" th:href="${'/users/' + user.id}">To User</a>
                    <a class="btn btn-danger" th:href="${'/users/' + user.id + '/delete'}">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-success" th:href="${'/register'}">Create New User</a>
</div>
</body>
</html>
