<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kitchen Order Items List</title>
    <div th:replace = "~{headers/bootstrap :: boot}"></div>
    </head>
<body>
<div class="container">

    <div th:replace = "~{headers/header :: head}"></div>
    <h1 class="mt-4">Kitchen Order Items List</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Kitchen Order Number</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="kitchen_order_item : ${kitchen_order_items}">
            <td th:text="${kitchen_order_item.id}"></td>
            <td>
                <div>
                    <a class="btn btn-primary" th:href="${'/kitchen_order_products/' + kitchen_order_item.id}">To Order</a>
                </div>
                <div>
                    <a class="btn btn-danger" th:href="${'/kitchen_order_products/' + kitchen_order_item.id + '/delete'}">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
