<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kitchen Order Item Details</title>
    <div th:replace = "~{headers/bootstrap :: boot}"></div>
    </head>
<body>
<div class="container">

    <div th:replace = "~{headers/header :: head}"></div>
    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <h3 th:text="${kitchen_order_item.product}"></h3>
            <h3 th:text="${kitchen_order_item.measure}"></h3>
            <h3 th:text="${kitchen_order_item.qty}"></h3>
            <div class="button">
                <a class="btn btn-primary" th:href="${'/kitchen_order_items'}">Back to List</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
