<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>
            Kitchen order number
        </th>
        <th>
            actions
        </th>
    </tr>
    <tr th:each="kitchen_order_item : ${kitchen_order_items}">
        <td th:text="${kitchen_order_item.id}"></td>
        <td>
            <div>
                <a th:href="${ '/kitchen_order_products/' + kitchen_order_item.id}" >to order</a>
            </div>
            <div>
                <a th:href="${ '/kitchen_order_products/' + kitchen_order_item.id + '/delete'}" >delete</a>
            </div>
        </td>


    </tr>
</table>
</body>
</html>